.App {
  text-align: center;
}

h1{
  color: blue;
}
footer{
  background-color: rgb(94, 147, 130);
  min-height: 10vh;
  color: white;
}
.social-block ul{
  display: flex;
  list-style: none;
  margin: 0;
}

.main-context{
  display: flex;
}

main{
  min-height: 80vh;
  /* max-width: 70vw; */
  flex: 9;
  background-color: aquamarine;
}
aside{
  flex: 3;
  background-color: rgb(165, 231, 234);
}
